.article-layout {
  .blocks > div {
    padding: 10px 0;
  }

  .announcement {
    position: relative;
    padding: 40px 0;

    h1 {
      font-size: 3em;
      max-width: 15em;
      margin: auto;
    }
  }

  h3 {
    margin-top: 40px;
  }

  #main {
    font-size: 1.2em;
    line-height: 1.62em;
    text-align: justify;
    max-width: 35em;
    margin: auto;
  }

  img {
    max-width: 100%;
    margin-top: 10px;
  }
}

#article-nav {
  @include clearfix;
  margin-top: 60px;
}

// code blocks
pre.highlight {
  margin: 30px 0;
}

code {
  background: none;
  color: #E14A30;
}

a.all-tips-link {
  color: #fff;
  position: absolute;
  left: 15px;
  top: 15px;

  &:hover {
    color: darken(#fff, 10%);
  }
}

.footnotes {
  font-size: 0.8em;
  line-height: 1.2em;
  margin-top: 40px;

  ol {
    margin: 0;
    padding-left: 1.4em;
  }
}

sup {
  padding-left: 2px;
}

.more-margin {
  img {
    margin: 20px auto;
  }
}

.image-annotation {
  text-align: center;
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 20px;
}

