html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Bitter', serif;
  font-weight: 400;
  background: #FFF8ED;
  // padding-top: 50px;
  position: relative;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: 700;
  margin-top: 0;
}

.navbar {
  background: $almost-black;
  color: #fff;

  a {
    color: #fff;
  }
}

.blocks {
  text-align: center;
  position: relative;
  @include clearfix;

  .fa-arrow-right {
    position: absolute;
    left: 0;
    top: 35%;
    right: 0;
    color: #fff;
    font-size: 80px;

    @media (min-width: $screen-md-min) {
      top: 30%;
      font-size: 150px;
    }
  }

  img {
    height: 120px;
    max-width: 100%;

    @media (min-width: $screen-md-min) {
      height: 308px;
    }
  }


  & > div {
    float: left;
    width: 50%;
    padding: 60px 0;

    @media (min-width: $screen-md-min) {
      padding: 80px 0;
    }
  }


  .rails {
    background: $red;
  }

  .ember {
    background: $orange;
  }
}

.announcement {
  background: $almost-black;
  text-align: center;
  color: #fff;
  padding: 20px;

  h1 {
    margin-bottom: 16px;
    font-size: 3em;
  }

  h2 {
    font-size: 26px;
  }

  p {
    font-size: 1.2em;
  }

  @media (min-width: $screen-md-min) {
    padding: 60px;

    h1 {
      font-size: 3.5em;
    }

    h2 {
      font-size: 34px;
    }

    p {
      font-size: 1.5em;
    }
  }
}

#signup {
  margin-top: 40px;

  @media (min-width: $screen-md-min) {
    margin-top: 64px;
  }

  p {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
  }
}

#main {
  padding: 40px 0;
  min-height: 100%;
}

.index-articles {
  margin-top: 40px;
}

.index-article {
  text-align: justify;
  margin-bottom: 60px;

  h2 {
    text-align: left;
  }
}

#content-wrapper {
  position: relative;
  padding-bottom: 400px;
  min-height: 100%;

  @media (min-width: $screen-md-min) {
    padding-bottom: 340px;
  }
}

footer {
  background: $almost-black;
  padding: 40px 10px;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  @media (min-width: $screen-md-min) {
    padding: 40px;
  }

  .article-layout & {
    background: none;
    color: #333;
  }

  a {
    color: $orange;

    &:hover {
      color: darken($orange, 15%);
    }
  }

  .tagline {
    text-align: center;
    width: 220px;
    margin: 0 auto;

    @media (min-width: $screen-md-min) {
      width: auto;
    }

    p {
      font-size: 14px;
    }
  }
}

.echobind-logo {
  @include text-hide();
  @include img-retina(image-path('echobind-logo-white.png'), image-path('echobind-logo-white@2x.png'), 82px, 17px);
  display: block;
  width: 82px;
  height: 17px;
  margin: 0 auto;

  .article-layout & {
    @include img-retina(image-path('echobind-logo-black.png'), image-path('echobind-logo-black@2x.png'), 82px, 17px);
  }
}

#no-more {
  text-align: center;
  background: $orange;
  background: $peach;
  padding: 40px;
  border-radius: 2px;
  color: $almost-black;
}

a.btn, input[type="submit"] {
  border: 2px solid $almost-black;
  background: none;
  // border: 2px solid $brown;
  // color: $brown;
  color: $almost-black;
  margin-top: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

input[type="submit"][disabled] {
  opacity: 0.4;
}

.last-updated {
  text-align: center;
  font-size: 14px;
  opacity: 0.5;
  margin-top: 10px;
}

#mailing-list {
  input[type="submit"] {
    width: 100%;
  }
}

#contact {
  .popover-input {
    width: 290px;
    max-width: 100%;
  }

  input[type="submit"] {
    width: 100%;
  }
}
