<div class="container">
  <div class="row">
    <div id="no-more" class="col-md-6 col-md-offset-3">
      <h4>Uh oh, you've read everything!</h4>
      <p>Not to fear, there is more on the way. Sign up for the newsletter.</p>
      <a class="btn">JOIN THE LIST</a>
    </div>
  </div>

  <div class="row">
    <p class="last-updated">Last updated: <%= blog.articles.first.date.strftime('%b %e %Y') %></p>
  </div>
</div>
